.clipboard-dialog_container {
  width: 300px !important;
  padding-bottom: unset !important;
}

.clipboard-dialog_content-container {
  padding: 10px 20px;
}

.clipboard-dialog_label {
  font-size: 16px;
}

.clipboard-dialog_save-button {
  float: right;
}
