@import '../../styles/mixin.scss';

.folder-display-container {
  @include flex-full-vertical;
  height: 100vh;
  overflow-y: hidden;
}

.folder-dialog-container {
  height: 450px !important;
  width: 900px !important;
  padding-bottom: unset !important;
}
