.setting-dialog_container {
  width: 900px !important;
  padding-bottom: unset !important;

  .bp3-tabs {
    padding: 5px 25px;
  }
  .bp3-tab:focus {
    outline: unset;
  }
  .setting-dialog_tab-panel {
    height: 300px;
    display: flex;
    flex-direction: column;

    .setting-dialog_tab-panel_row {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      .setting-dialog_tab-panel_row_title {
        width: 100px;
        font-size: 16px;
        text-align: right;
        margin-right: 30px;
        text-align: left;
      }
      .setting-dialog_tab-panel_row_content {
        flex: 1;
        display: flex;
      }
      .setting-dialog_tab-panel_radio {
        text-transform: capitalize;
        margin-bottom: 0;
      }
      .setting-dialog_tab-panel_editable-text {
        text-transform: capitalize;

        &::before {
          content: 'Ctrl + ';
        }
      }
    }
  }
  .setting-dialog_footer_container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 15px 25px;

    .setting-dialog_footer_save-button {
      width: 70px;
    }
  }
}
