$folder-card-thumbnail-height: 350px;
$folder-card-thumbnail-width: 250px;
$folder-card-name-height: 50px;
$folder-card-name-padding: 10px;
$folder-card-height: calc(
  #{$folder-card-thumbnail-height} + #{$folder-card-name-height} + #{$folder-card-name-padding} *
    2
);
$folder-card-width: $folder-card-thumbnail-width;
