.body-container {
  flex: 1;
  padding: 10px 5px;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.body-container_loading-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
